<section>
   <div class="div_row1">
     <h2 class="title">
        To start with, i'd like <br> to you to introduce <br>yourself
     </h2>
     <div class="link_image">
       <img src="assets/chat.png" alt="chat">
       <div class="card_text">
         <p>
           I'm a catutor, my name <br>is Taylor, our school goal <br>is to teach children about<br>money. Enoy and study
         </p>
       </div>
     </div>
   </div>
  <div class="div_row2">
    <div class="div_row2_col1">
      <div class="div_link_1">
       <div class="div_row">
         <img src="assets/ryanpetersson.PNG" alt="children">
         <div class="texte">
           <h3>Ryan Peterson</h3>
           <p>Level(Newbie)</p>
           <button>Edit Name</button>
         </div>
       </div>
        <img class="image2" src="assets/cube-removebg-preview.png" alt="cube">
      </div>
      <div class="div_link_2">
        <div class="div_link_2_1">
          <div class="card_text">
            <h3>
              How old are you?
            </h3>
            <p>6 years old</p>
          </div>
          <div class="bg-img color1">
            <img src="assets/smiley.PNG" alt="smiley">
          </div>
        </div>
        <div class="div_link_2_1">
          <div class="card_text">
            <h3>
              Where are you from?
            </h3>
            <p>Iceland</p>
          </div>
          <div class="bg-img color2">
            <img src="assets/iceland.PNG" alt="iceland">
          </div>
        </div>
      </div>
    </div>
    <div class="div_row2_col2">
      <h3>
        You completed this step, <br> let's move forward
      </h3>
      <p>I'm a catutor, my name <br>
        is Taylor, our school goal
      </p>
      <div class="div_row">
        <button class="btn_next_step">Next Step</button>
      </div>
    </div>
  </div>
  <img class="image_bottom" src="assets/patte_chat.png" alt="pattechat">
</section>
