/*========================== PLACEHOLDERS ===========================*/
%div_row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
%div_col{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*============================ VARIABLES ============================*/
$color: black;
$color2: rgb(205,230,147);
$color3: rgb(254,247,238);
$color4: rgba(254,221,214);
$color5: rgb(118,120,130);
/*============================ MIXIN =================================*/
@mixin absolute_div($top,$right,$bottom,$left){
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
/*=========================== COURSES =================================*/

/*============ ROW1 ============*/
.div_row1{
  margin-top: 60px;
  @extend %div_row;
  justify-content: space-between;

  .title{
    font-size: 3rem;
    font-weight: 600;
  }
}
.div_row1 .link_image {
  @extend %div_row;
  justify-content: space-around;
  border-radius: 70px;
  background: linear-gradient(90deg, $color4, $color3);
  box-shadow: 0 0 1px $color;
  padding: 10px 30px;
  height: 190px;
  img{
    position: relative;
    top: 0px;
    left: -60px;
    width: 227px;
  }
  p {
    font-size: 1rem;
  }
}
/*============== fleche ==================*/
.fleche{
  @include absolute_div(250px,580px,none,none);
  width: 181px;
}
/*========= ROW2 =========*/
.div_row2 {
  @extend %div_row;
  justify-content: flex-start;
  .div_row2_col1{
    @extend %div_col;
    gap: 10px;
  }
}
/*----------- col1 ------------*/

.div_row2_col1 .div_link_1{
  @extend %div_row;
  justify-content: space-between;
  padding: 20px 50px;
  background: linear-gradient(135deg, $color4, $color3);
  border-radius: 70px;
  box-shadow: 0 0 1px $color;
  .div_row{
    @extend %div_row;
    gap: 20px;
  }
  .image2{
    margin-left: 70px;
  }
  .texte{
    @extend %div_col;
    align-items: flex-start;
    gap: 5px;
  }
}
button{
  background: $color2;
  border-radius: 50px;
  padding: 15px 30px;
  font-weight: 600;
  border: 1px solid $color2;
  font-size: 1rem;
}
.div_row2_col1 .div_link_2{
  @extend %div_col;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(135deg, $color4, $color3);
  border-radius: 50px;
  gap: 20px;
  box-shadow: 0 0 2px $color;

  .div_link_2_1, .card_text{
    @extend %div_row;
    justify-content: space-between;
    background: $color3;
    border-radius: 70px;
    padding: 20px;
    gap: 10px;
  }
}
.div_link_2{
  .card_text{
    h3, p{
      font-weight: 600;
    }
    p{
      font-size: 1.17rem;
      color: $color5;
    }
  }
  .bg-img{
    border-radius: 50%;
    padding: 10px;
    margin-left: 70px;
  }
  .color1{
    background: rgb(255,228,189);
  }
  .color2{
    background: rgb(192,215,255);
  }
}
/*-------------- col2 ---------*/
.div_row2_col2{
  @extend %div_col;
  align-items: flex-start;
  margin-left: 100px;

  h3{
    font-size: 2rem;
  }
  p{
    font-size: 1.17rem;
    color: $color5;
  }
}
.div_row2_col2{
  .div_row {
    @extend %div_row;
    .btn_next_step {
      @include absolute_div(none,60px,60px,none);
      border-radius: 50%;
      font-size: 2rem;
      color: $color3;
      background: $color2;
      width: 250px;
      height: 250px;
      border: 20px solid $color3;
      cursor: pointer;
      box-shadow: 0 0 1px $color;

    }
    .btn_next_step:active{
      color: $color2;
      background: $color3;
      border-color: $color2;
    }
  }
}
/*--------- bottom image ------------*/
.image_bottom{
  @include absolute_div(none,0,0,200px);
  margin: 0 auto;
}
/*========================== RESPONSIVE ===================================*/
@media only screen and (max-width: 1252px) {
  .fleche {
    top: 260px;
    right: 460px;
    transform: rotate(-5deg);
  }
}
@media only screen and (max-width: 1151px) {
  .div_row1 .title {
    font-size: 2.5rem;
  }
  .div_row1 .link_image{
    padding: 10px;
    img{
      left: -20px;
    }
  }
  .div_row2_col1 .div_link_1 {
    .texte {
      h3, p, button {
        font-size: 1rem;
      }
    }
    .image2{
      margin-left: 10px;
    }
  }
  .div_link_2 .card_text{
    p, h3 {
      font-size: 1rem;
    }
  }

  .div_row2_col2 {
    .div_row {
      .btn_next_step {
        width: 200px;
        height: 200px;
        font-size: 1.3rem;
      }
    }
  }
}
@media only screen and (max-width: 1047px) {
  .div_row1 .link_image{
    padding: 10px 5px;
    img{
      left: -10px;
    }
  }
  .fleche {
    top: 260px;
    right: 440px;
  }
  .div_link_2 .bg-img {
    margin-left: 0px;
  }
  .div_row2_col1 .div_link_1 {
    .image2{
      margin-left: 0px;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .fleche{
    display: none;
  }
  .div_row1 .title {
    font-size: 2rem;
  }
  .div_row1 .link_image{
    padding: 0 10px 0 0;
    img{
      left: -5px;
    }
  }
  .div_row2_col2 {
    h3 {
      font-size: 1.5rem;
    }
  }
}
@media only screen and (max-width: 920px) {
  .div_row1 {
    margin-bottom: 20px;
    .title {
      font-size: 1.5rem;
    }
  }
  .div_row2_col2 {
    .div_row {
      .btn_next_step {
        bottom: 10px;
        right: 10px;
      }
    }
  }
}
@media only screen and (max-width: 880px) {
  .image_bottom {
    bottom: -70px;
    left: 0px;
  }
}
@media only screen and (max-width: 700px) {
  .div_row1 .link_image, .div_row2 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .div_row1 {
    justify-content: space-around;
    .title{
      font-size: 3.5rem;
    }
    .link_image {
      height: auto;
      align-items: center;
      padding: 20px;
    }

  }
  .div_row2_col2{
    margin-left: 0;
    h3{
      font-size: 3rem;
    }
    p{
      font-size: 2rem;
    }
    .div_row {
      .btn_next_step {
        bottom: -300px;
        right: 20px;
        width: 150px;
        height: 150px;
        font-size: 1.5rem;
      }
    }
  }
  .image_bottom {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .div_row1 {

    .title {
      font-size: 2.5rem;
    }
  }
  .div_row2_col2 {
    h3 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}
@media only screen and (max-width: 490px) {
  .div_row1, .div_row2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .div_row1 .link_image {
    width: 90%;
  }

  .div_row2_col1 {
    align-items: center;
    .div_link_1, .div_link_2 .div_link_2_1{
     flex-direction: column;
      width: 90%;
   }

  }
  .div_row2_col2 .div_row {
    .btn_next_step {
      bottom: -850px;
    }
  }
}
@media only screen and (max-width: 408px) {
  .div_row2_col2 .div_row {
    .btn_next_step {
      bottom: -1050px;
    }
  }
}
@media only screen and (max-width: 307px) {
  .div_row2_col2 .div_row {
    .btn_next_step {
      bottom: -1050px;
    }
  }
}
