*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Space Grotesk";
}
section{
  animation: load_section 0.8s forwards;
}
@keyframes load_section {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
