
<section>
  <div class="section_div1">
    <div class="div_img">
      <img src="assets/bigimage1.png" alt="image1">
    </div>
    <div class="div_texte1">
      <h1>Teach</h1>
      <img src="assets/svg.png" alt="image_svg">
    </div>
    <div class="div_texte2">
      <h2 class="h2_div_texte2">Your preshcoolers</h2>
      <div class="div_texte2_div1">
        <div class="link_img">
          <p>How it actually <br> works!</p>
          <img src="assets/money.png" alt="image_money">
        </div>
        <div class="div_texte2_div1_div2">
          <h1>money</h1>
          <p>habits</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section_div2">
    <div class="link_img-card1">
      <img src="assets/card.png" alt="card">
      <div class="card_texte">
        <p class="p_color2">LESSON1</p>
        <h3>Bank Account</h3>
        <p>Many banks offer savings and checking accounts specifically for children and teens</p>
        <img src="assets/bamk_indique.png" alt="bank_indique">
      </div>
    </div>
    <div class="link_img_card2">
      <div class="link_img">
        <p>Don't hesitake to ask me <br> if you have your doubts</p>
        <img src="assets/imegefooterbtn.PNG" alt="image_money">
      </div>
    </div>
  </div>
</section>
