/*========================== PLACEHOLDERS ===========================*/
%div_row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
%div_col{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*============================ VARIABLES ============================*/
$main-color: linear-gradient(90deg,rgb(255,222,199),rgb(254,247,238), rgb(255,222,199),rgb(254,247,238));
$color: black;
$color2: rgba(205,230,147);
$color3: rgb(254,247,238);

/*========================== MIXIN =================================*/
@mixin absolute_div($top,$right,$bottom,$left){
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
/*============================== SECTION ==============================*/
section{
  @extend %div_col;
  align-items: center;
  justify-content: center;
}

/*============================== SECTION1 ================================*/
.section_div1{
  position: relative;
  width: 100%;
  .div_img{
    @include absolute_div(-50px,none,none,0);
  }
}
.div_texte1{
  @include absolute_div(20px,30px,none,none);
  @extend %div_row;
  justify-content: space-around;
  h1{
    font-size: 11rem;
  }
  img{
    height: 100%;
  }

}
.div_texte2{
  .h2_div_texte2{
    @include absolute_div(190px,42px,none,none);
    font-size: 4.5rem;
    font-weight: 300;
  }
}
.div_texte2_div1{
  @include absolute_div(200px,0,none,none);
  @extend %div_row;
  .link_img{
    @extend %div_row;
    justify-content: space-around;
    border-radius: 70px;
    border: 1px solid $color;
    padding: 20px 30px;
    p{
      font-weight: 600;
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }
}
.div_texte2_div1 .div_texte2_div1_div2{
  @extend %div_col;
  align-items: flex-start;

  h1{
    font-size: 11rem;
    font-weight: 600;
  }
  p{
    position: relative;
    top: -50px;
    font-size: 4.5rem;
    font-weight: 300;
  }
}
/*================================ SECTION2 ================================*/

.section_div2 {
 @include absolute_div(none,none,100px,0);
  @extend %div_row;
  align-items: flex-end;
  width: 100%;
  padding-left: 70px;
  .link_img-card1{ // link image card bank
    @extend %div_row;
    width: 50%;
    gap: 20px;
    justify-content: space-around;
    background: $color3;
    border-radius: 70px;
    padding: 20px 30px;
  }
}
.link_img-card1 .card_texte {
  p{
    margin: 10px 0;
  }
  .p_color2{
    color: $color2;
  }
}
.link_img_card2 {
  width: 40%;
  position: relative;
  margin-left: 20px;
  .link_img {
    @extend %div_row;
    justify-content: space-around;
    border-radius: 70px;
    border: 1px solid $color;
    padding: 20px 30px;
    height: 130px;

    img{
      position: relative;
      top: 0px;
      right: -60px;
      width: 176px;
    }
    p {
      font-weight: 600;
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }
}
/*======================== RESPONSIVE ========================*/
@media only screen and (min-width: 1370px) and (max-width: 1440px) {
  .div_texte2_div1 .div_texte2_div1_div2, .div_texte1 {
    h1 {
      font-size: 12rem;
    }
  }
  .div_texte2 .h2_div_texte2, .div_texte2_div1 .div_texte2_div1_div2 p{
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1266px) {
  .div_texte2_div1 .div_texte2_div1_div2, .div_texte1 {
    h1 {
      font-size: 9.8rem;
    }
  }
  .div_texte2_div1 .link_img p{
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1120px) and (max-width: 1200px) {
  .div_texte2_div1 .div_texte2_div1_div2, .div_texte1 {
    h1 {
      font-size: 9rem;
    }
  }
  .link_img_card2 .link_img p{
    font-size: 1rem;
  }
  .div_texte2 .h2_div_texte2{
    font-size: 4rem;
  }
  .div_texte2_div1 .link_img p{
    font-size: 1rem;
  }
}
@media only screen  and (max-width: 1119px) {
  .div_texte2_div1 .div_texte2_div1_div2, .div_texte1 {
    h1 {
      font-size: 8rem;
    }
  }
  .div_texte1{
    top: 80px;
    right: -30px;
  }
  .div_texte2 .h2_div_texte2{
    top: 210px;
    right: 2px;
  }
  .div_texte2_div1{
    top: 230px;
  }
  .div_texte2_div1 .link_img{
    padding: 0 30px;
  }
  .section_div2 .link_img-card1{
    padding: 0 10px;
  }
  .link_img_card2 .link_img p{
    font-size: 1rem;
  }
  .div_texte2 .h2_div_texte2{
    font-size: 3rem;
  }
  .div_texte2_div1 .link_img p{
    font-size: 1rem;
  }
  .div_texte2_div1 .div_texte2_div1_div2 p{
    font-size: 4rem;
  }
  .link_img-card1 {
    img{
      width: 50%;
    }
  }
  .link_img_card2 .link_img img{
    width: 50%;
  }
}
@media only screen  and (max-width: 1088px) {
  .div_texte2_div1 .div_texte2_div1_div2, .div_texte1 {
    h1 {
      font-size: 7rem;
    }
  }
}
@media only screen and (max-width: 1023px) {
  .div_texte2_div1 .div_texte2_div1_div2, .div_texte1 {
    h1 {
      font-size: 6rem;
    }
  }
}

@media only screen and (max-width: 976px) {
  .div_texte1 {
    top: 50px;
    right: -10px;
    h1{
      font-size: 5.5rem;
    }
  }
  .div_texte2 .h2_div_texte2 {
    top: 190px;
    right: 2px;
  }
  .div_texte2_div1 {
    top: 200px;
    .link_img{
      padding: 0 20px;

      img{
        width: 50%;
      }
    }
  }
  .div_texte2_div1 .div_texte2_div1_div2 p {
    font-size: 3.5rem;
    top: -30px;
  }
  .section_div1 .div_img{
    top: -20px;
    left: -20px;
    img{
      width: 80%;
    }
  }
  .section_div2{
    padding: 0;
    left: 20px;
  }
}
@media only screen and (max-width: 750px) {

  .section_div1 .div_img {
    display: none;
  }
  .div_texte2_div1 .div_texte2_div1_div2, .div_texte1 {
    h1 {
      font-size: 5rem;
    }
    img{
      width: 100px;
      transform: rotate(-30deg);
    }
  }
  .div_texte2_div1 , .div_texte1{
    right: unset;
  }
  .div_texte2 .h2_div_texte2 {
    font-size: 3rem;
    top: 130px;
    right: unset;
  }
  .div_texte2_div1 {
    top: 230px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .section_div2 {
    flex-direction: column;
    align-items: flex-start;
    bottom: -150%;
    left: 0;
    .link_img-card1, .link_img_card2{
      width: 100%;
      margin: 10px 0;
      padding: 20px 10px;
    }
  }
  .section_div2 .link_img-card1 {
    flex-direction: column-reverse;
    justify-content: center;
    border-radius: 50px;
     img{
      right: 0;
      width: 100%;
    }
    .card_texte img{
      width: auto;
    }
  }
  .link_img_card2 .link_img  img{
    right: 0;
  }
}
@media only screen and (min-width: 601px) and (max-width: 750px) {
  .div_texte2_div1 .div_texte2_div1_div2, .div_texte1 {
    h1 {
      font-size:7rem;
    }
  }
  .div_texte2_div1_div2, .div_texte2 .h2_div_texte2 {
    font-size: 5rem;
  }
  .link_img-card1 .card_texte {
    h3 {
      font-size: 26px;
    }

    p {
      font-size: 24px;
    }
  }
  .div_texte2_div1 {
    top: 260px;
  }
  .section_div2 {
    bottom: -80%;
  }
}
@media only screen and (min-width: 506px) and (max-width: 600px) {
  .div_texte2 .h2_div_texte2 {
    font-size: 4rem;
  }
  .link_img-card1 .card_texte {
    h3 {
      font-size: 26px;
    }

    p {
      font-size: 24px;
    }
  }
  .div_texte2_div1 {
    top: 250px;
  }
  .section_div2 {
    bottom: -60%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 506px) {
  .div_texte2_div1 .div_texte2_div1_div2, .div_texte1 {
    h1 {
      font-size: 5.5rem;
    }
  }
  .div_texte2 .h2_div_texte2 {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 321px) and (max-width: 425px){
  .div_texte2_div1 .div_texte2_div1_div2, .div_texte1 {
    h1 {
      font-size: 5.5rem;
    }
  }
  .div_texte2 .h2_div_texte2 {
    font-size: 3.5rem;
  }

  .link_img-card1 .card_texte{
    h3{
      font-size: 22px;
    }
    p{
      font-size: 20px;
    }
  }
}
@media only screen and (max-height: 832px) {
  .section_div2{
    bottom: -60%;
  }
}
@media only screen and (max-height: 799px) {
  .section_div2{
    bottom: -70%;
  }
}
@media only screen and (max-height: 746px) {
  .section_div2{
    bottom: -80%;
  }
}
@media only screen and (max-height: 703px) {
  .section_div2{
    bottom: -90%;
  }
}
@media only screen and (max-height: 666px) {
  .section_div2{
    bottom: -110%;
  }
}
