<section>
  <div class="div_row1">
    <div class="div_col">
      <h3 class="h3">Congrats, Ryan!</h3>
      <p class="text">Banking account course is completed</p>
      <p class="text_small">Your are one step closer to the financial competence</p>
      <div class="div_row">
        <div class="div_video">
          <img src="assets/video_1.PNG" alt="image_video1">
          <div class="div_texte">
            <h3>Investment</h3>
            <p>12 lessons</p>
            <button>7-9 years old</button>
          </div>
        </div>
        <div class="div_video">
          <img src="assets/video_2.PNG" alt="image_video1">
          <div class="div_texte">
            <h3>Stocks & bonds</h3>
            <p>24 lessons</p>
            <button>12-16 years old</button>
          </div>
        </div>
      </div>
    </div>
    <img class="plan_chat" src="./assets/plan_chat.PNG" alt="chat">
  </div>
  <div class="div_row2">
    <h1 class="h1">
      6 lessons well learned
    </h1>
    <img class="fleche" src="./assets/Svg_fleche.png" alt="fleche">
    <div class="div_col">
      <h3 class="h3">
        Now it's time to take the test. The test is a game where
        your child os going to help one of characters.
      </h3>
      <div class="link_image">
        <img src="./assets/ryanpetersson.PNG" alt="ryanpetersson">
        <div class="texte">
          <h3>Ryan Petersson,</h3>
          <p>Let's start the game.</p>
        </div>
      </div>
    </div>
  </div>
</section>
